<h1 mat-dialog-title>Equipo</h1>
<div mat-dialog-content>
  <form [formGroup]="inventoryForm">
    <mat-card class="shipping-card">
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width-select">
              <mat-label>Nombre equipo</mat-label>
              <input matInput formControlName="DeviceName">
              <mat-error *ngIf="inventoryForm.controls['DeviceName'].hasError('required')">
                Ingrese nombre del <strong>equipo</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width-select">
              <mat-label>Sistema operativo</mat-label>
              <input matInput formControlName="OsName">
              <mat-error *ngIf="inventoryForm.controls['OsName'].hasError('required')">
                Ingrese tipo de <strong>sistema operativo</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width-select">
              <mat-label>Arquitectura sistema</mat-label>
              <input matInput formControlName="SystemType">
              <mat-error *ngIf="inventoryForm.controls['SystemType'].hasError('required')">
                Ingrese <strong>arquitectura</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width-select">
              <mat-label>Procesador</mat-label>
              <input matInput formControlName="Processor">
              <mat-error *ngIf="inventoryForm.controls['Processor'].hasError('required')">
                Ingrese tipo de <strong>procesador</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width-select">
              <mat-label>Ram</mat-label>
              <input matInput formControlName="Memory">
              <mat-error *ngIf="inventoryForm.controls['Memory'].hasError('required')">
                Ingrese capacidad de <strong>ram</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width-select">
              <mat-label>Tipo almacenamiento</mat-label>
              <input matInput  formControlName="StorageType">
              <mat-error *ngIf="inventoryForm.controls['StorageType'].hasError('required')">
                Ingrese tipo de <strong>almacenamiento</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width-select">
              <mat-label>Capacidad almacenamiento</mat-label>
              <input matInput formControlName="StorageCap">
              <mat-error *ngIf="inventoryForm.controls['StorageCap'].hasError('required')">
                Ingrese <strong>capacidad almacenamiento</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width-select">
              <!-- <mat-label>Ubicacion</mat-label> -->
              <mat-select placeholder="Ubicación" formControlName="Ubication">
                <mat-option *ngFor="let ubication of ubications" [value]="ubication.id">
                  {{ ubication.name }}
                </mat-option>
              </mat-select>
              <!-- <input matInput formControlName="Ubication"> -->
              <mat-error *ngIf="inventoryForm.controls['Ubication'].hasError('required')">
                Ingrese <strong>ubicacion</strong> del equipo
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Adicional</mat-label>
              <textarea matInput formControlName="Observation"></textarea>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cerrar</button>
  <button mat-button (click)="onSubmit()">Guardar</button>
</div>

