<body>
  <div class="container-auth" >
    <div class="login">
      <h2 class="login-header">Mantenlo App</h2>
      <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">
        <mat-card class="shipping-card">
          <mat-card-header></mat-card-header>
          <mat-card-content class="card-content">
            <p>
              <mat-form-field class="full-width-select" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="nombre@empresa.com" formControlName="Email">
                <mat-error *ngIf="loginForm.controls['Email'].hasError('required')">
                  Ingrese <strong>correo</strong> de la empresa
                </mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field class="full-width-select" appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput placeholder="Elija una contraseña" formControlName="Password">
                <mat-error *ngIf="loginForm.controls['Password'].hasError('required')">
                  Ingrese la <strong>contraseña</strong>
                </mat-error>
              </mat-form-field>
            </p>
          </mat-card-content>
            <mat-card-actions align="center">
              <button mat-flat-button color="primary">Iniciar sesión</button>
              <p class="rgt">¿No tienes cuenta? <a routerLink="/auth/register" style="color:#64DFDF">Registrate</a>.</p>
            </mat-card-actions>
          </mat-card>
      </form>
    </div>
  </div>
</body>
