<form [formGroup]="maintenanceForm" (ngSubmit)="onSubmit()">
  <h1 class="mat-h1" name="invName">Agregar mantenimiento</h1>
  <mat-card class="shipping-card">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Fecha programada</mat-label>
            <input matInput type="date" formControlName="startDate">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Fecha finalizacion</mat-label>
            <input matInput type="date" formControlName="endDate">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width-select">
            <mat-select placeholder="Equipo" formControlName="equipo">
              <mat-option *ngFor="let equipo of equipo" [value]="equipo.id">
                {{ equipo.deviceName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="maintenanceForm.controls['equipo'].hasError('required')">
              Seleccione un <strong>equipo</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-radio-group formControlName="tipoPrioridad">
            <mat-radio-button [value]="3">Prioridad baja</mat-radio-button>
            <mat-radio-button [value]="2">Prioridad media</mat-radio-button>
            <mat-radio-button [value]="1">Prioridad alta</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-radio-group formControlName="tipoMantenimiento">
            <mat-radio-button [value]="1">Mantenimiento correctivo</mat-radio-button>
            <mat-radio-button [value]="2">Mantenimiento preventivo</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col">
          <mat-form-field class="full-width-select">
            <mat-select placeholder="Problema" formControlName="problema">
              <mat-option *ngFor="let problema of problema" [value]="problema.id">
                {{ problema.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="maintenanceForm.controls['problema'].hasError('required')">
              Seleccione un <strong>problema</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Descripcion</mat-label>
            <textarea matInput formControlName="descripcion"></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" type="submit" >Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>
