<body>
  <div class="container">
    <div class="login">

        <h2 class="login-header">Mantenlo App</h2>

        <form #frmRegister="ngForm" class="login-container" (ngSubmit)="register(frmRegister)">
          <p><input type="text" name="username" placeholder="Nombre"  ngModel required></p>
          <p><input type="email" name="email" placeholder="Email" ngModel required></p>
          <p><input type="text" name="telephone" placeholder="Telefono" ngModel required></p>
          <p><input type="text" name="country" placeholder="Pais" ngModel required></p>
          <p><input type="text" name="company" placeholder="Empresa" ngModel required></p>
          <p><input type="password" name="password" placeholder="Contraseña" ngModel required></p>
          <div class="button-row" >
            <button mat-flat-button color="primary">Crear usuario</button>
            <button mat-flat-button (click)="cancel()">Cancelar</button>
          </div>
        </form>
    </div>
  </div>
</body>
