<form [formGroup]="inventoryForm" (ngSubmit)="onSubmit()">
  <h1 class="mat-h1" name="invName">Agregar equipo</h1>
  <mat-card class="shipping-card">
    <mat-card-header>
      <!-- <mat-card-title>Shipping Information</mat-card-title> -->
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width-select">
            <mat-label>Nombre equipo</mat-label>
            <input matInput placeholder="LAPTOP-00000" formControlName="equipo">
            <mat-error *ngIf="inventoryForm.controls['equipo'].hasError('required')">
              Ingrese nombre del <strong>equipo</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width-select">
            <mat-label>Arquitectura sistema</mat-label>
            <input matInput placeholder="x86" formControlName="arquitectura">
            <mat-error *ngIf="inventoryForm.controls['arquitectura'].hasError('required')">
              Ingrese <strong>arquitectura</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width-select">
            <mat-label>Procesador</mat-label>
            <input matInput placeholder="Intel Core i3" formControlName="procesador">
            <mat-error *ngIf="inventoryForm.controls['procesador'].hasError('required')">
              Ingrese tipo de <strong>procesador</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width-select">
            <mat-label>Ram</mat-label>
            <input matInput placeholder="8GB" formControlName="ram">
            <mat-error *ngIf="inventoryForm.controls['ram'].hasError('required')">
              Ingrese capacidad de <strong>ram</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Adicional</mat-label>
            <textarea matInput formControlName="adicional"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width-select">
            <mat-label>Ubicacion</mat-label>
            <input matInput placeholder="IT" formControlName="ubicacion">
            <mat-error *ngIf="inventoryForm.controls['ubicacion'].hasError('required')">
              Ingrese <strong>ubicacion</strong> del equipo
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" type="submit">Aceptar</button>
    </mat-card-actions>
  </mat-card>
</form>
