/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  background: white;
  font-family: 'Open Sans', sans-serif;
}


/* Top and buttom margin reset */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */

.login-header {
  background: #64DFDF;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 15px 15px 0 0;
}

.login-container {
  background: rgba(255, 255, 255, 0.4);
  padding: 12px;
  border-radius: 0 0 15px 15px;
}
/* Row .login-container, has p tags */


.login{
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.container{
  background-image:url("C:\Users\heytu\Documents\Universidad\PWGM\PWGM-frontend\src\image\login-img2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
